*{
   margin:0px;
   padding:0px;
   box-sizing: border-box;
}

body{
    height:100vh;
    width: 100vw;
    background-image: linear-gradient(to bottom, rgb(166, 166, 223) ,rgb(42, 42, 161),rgb(7, 7, 76));
    display: flex;
    justify-content: center;
    align-items: center;
    
   

}

.register_form{
    /* border:1px solid black; */
    box-shadow: 10px 10px 20px rgb(30, 30, 136);
    height: 500px;
    width: 500px;
    border-radius: 10px;
    color:white;
    padding: 20px;
}

#register h1{
    text-align: center;
    margin:10px;
}

.input_ele input{
 
    margin:10px;
    padding: 10px;
    width: 380px;
    border-radius: 5px;
    border-style: none;

}
.context{
    display: flex;
    margin:10px 50px 10px 20px;
    /* border:1px solid rgb(224, 216, 216); */
    
}
.context input{
    margin:5px;
}
.context p{
    margin:5px;
    font-size: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


.register_btn {
    display: flex;
    margin:10px 60px 10px 20px ;
    justify-content: end;
}

.register_btn button{
     padding:7px 10px;
     margin:5px 10px;
     border-radius: 5px;
     border-style: none;
     font-weight: bold;
     background-color: green;


}

.register_btn button:hover{
    background-color: rgb(88, 171, 88);
}








